form{
	border: 1px solid;
	padding: 10px;
}
h2{
	text-align: center;
}
#personalInformationDiv{
	border: 1px solid;
	padding: 10px;
}

#educationDiv{
	border: 1px solid;
	padding: 10px;
}
#crimesAndLicenseDiv{
	border: 1px solid;
	padding: 10px;
}
#officeSkillsDiv{
	border: 1px solid;
	padding: 10px;
}
h3{
	text-align:center;
	border: 1px solid;
	padding: 10px;
}
#twoReferencesDiv{
	border: 1px solid;
	padding: 10px;
}

#relative2Div{
	float: right;
}
#miltaryDiv{
	border: 1px solid;
	padding: 10px;
}
#workExperienceDiv{
	border: 1px solid;
	padding: 10px;
}
.orSpan{
	padding-left: 15px;
	padding-right: 15px;
}

