
.icon-logout:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-doc-text-inv:before { content: '\e802'; } /* '' */
.icon-bank:before { content: '\e803'; } /* '' */
.icon-back:before { content: '\e804'; } /* '' */